# Configuration Blueprint
STELLAR_SECRET_KEY=
STELLAR_NETWORK=testnet

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=change-me
REDIS_TLS=false
EVENT_QUEUE_NAME=vero:event-processing
EVENT_QUEUE_CONCURRENCY=5
